:root {
  --color-header: #fff;
  --color-subheader: #ccc;
  
  --primary-color: #482469;
  --primary-dark-color: #2c153a;
  --primary-darker-color: #151119;
}

html {
  font-family: system-ui, sans-serif;
  user-select: none;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  img {
    height: auto;
    max-width: 100%;
    pointer-events: none;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}