.bottombar {
  grid-area: bottombar;
  display: grid;
  grid-template-areas: 'left center right';
  grid-template-columns: 1fr 50dvw 1fr;
  align-items: center;
  padding: 10px 2dvw;
  width: 100%;
  height: 80px;
  font-size: medium;
  background: var(--primary-darker-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;

  .left,
  .center,
  .right {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .left {
    grid-area: left;
    gap: 15px;

    .art-cover {
      max-width: 60px;
      max-height: 60px;
      min-width: 45px;
      min-height: 45px;
      aspect-ratio: 1 / 1;
      border-radius: 6px;
      outline: 1px solid #421a82;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      position: relative;
      transition: all 0.2s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .art-cover-overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.4;
        }

        button {
          display: flex;
          justify-self: center;
          align-self: center;
          border: none;
          background: none;
          color: #fff;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }

    .song-info {
      display: flex;
      flex-direction: column;

      .song-name {
        font-size: large;
        font-weight: 600;
        color: #fff;
      }

      .artist-name {
        font-size: medium;
        color: #aaa;
      }
    }
  }

  .center {
    grid-area: center;
    justify-content: center;
    align-self: center;

    .player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22pt;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background: none;
          color: #aaa;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            color: #fff;
          }

          &.seek-backward-button {
            font-size: 1.25rem;
            transform: rotate(-90deg);
          }
          &.seek-forward-button {
            font-size: 1.25rem;
            transform: rotate(90deg);
          }
          &.play-button {
            font-size: 2rem;
          }
          &.shuffle-button,
          &.repeat-button {
            font-size: 1.25rem;
            &[data-active='true'] {
              color: #7a90ff;
            }
          }
        }
      }

      .progress {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: content-box;
        gap: 12pt;
        width: 100%;

        input.progress-bar[type='range'] {
          -webkit-appearance: none;
          appearance: none;
          outline: none;
          width: 100%;
          top: 1px;
          height: 5px;
          background: #aaa;
          border-radius: 0.5vh;
          position: relative;
          cursor: pointer;
          &:hover {
            &::-webkit-slider-thumb {
              visibility: visible;
            }
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            visibility: hidden;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #fff;
            border: 2px solid #aaa;
          }
        }

        .time-elapsed,
        .total-time {
          display: flex;
          align-items: center;
          gap: 1vw;
          font-size: 1.2rem;
          color: #aaa;
        }
      }
    }
  }

  .right {
    grid-area: right;
    justify-content: flex-end;
    
    .volume {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12pt;

      .volume-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
        border: none;
        background: none;
        color: #aaa;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          color: #fff;
        }
      }

      .volume-bar {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        box-sizing: content-box;
        width: 100%;
        height: 6px;
        background: #aaa;
        border-radius: 0.5vh;
        position: relative;
        cursor: pointer;
        &:hover {
          &::-webkit-slider-thumb {
            visibility: visible;
          }
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          visibility: hidden;
          width: 10pt;
          height: 10pt;
          border-radius: 50%;
          background: #fff;
          border: 2px solid #aaa;
        }
      }
    }
  }
}
