.hamburger-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 40dvb;
  z-index: 10;
  background: var(--primary-dark-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  animation: slideIn 0.3s ease;
  &[data-enabled='false'] {
    animation: slideOut 0.3s ease;
  }
  @keyframes slideIn {
    0% { transform: translateX(-40dvb); width: 0; }
    100% { transform: translateX(0); width: 40dvb; }
  }
  @keyframes slideOut {
    0% { transform: translateX(0); width: 40dvb; }
    100% { transform: translateX(-40dvb); width: 0; }
  }

  .menu-item {
    padding: 15px;
    border-radius: 5px;
    color: var(--color-header);
    font-size: large;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgba(255, 255, 255, 0.05);
    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }
}