.topbar {
  grid-area: topbar;
  display: flex;
  z-index: 100;
  align-items: center;
  padding: 10px 1dvw;
  width: 100%;
  height: 55px;
  font-size: medium;
  background: var(--primary-darker-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;

  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.2s ease;

    &.bell {
      font-size: 20pt;
    }

    .bar {
      position: absolute;
      height: 3px;
      width: 28px;
      background: white;
      transition: all 0.2s ease;
      &:nth-child(1) {
        transform: translateY(-8px);
      }
      &:nth-child(3) {
        transform: translateY(8px);
      }
    }
      
    &[data-toggled='true'] {
      .bar {
        &:nth-child(1) {
          transform: translateY(0) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }

  .header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2pt;

    .logo {
      display: flex;
      height: 100%;
      width: auto;
      font-size: 20pt;
      color: #f69918;
    }
  }
}

.modal-wrapper {
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 100;
  height: calc(100vh - 55px);
  width: 100vw;
  display: flex;
  align-items: flex-start;
  transition: all 0.2s ease;
  &[data-backdrop='true'] {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  &[data-enabled='false'] {
    visibility: hidden;
    opacity: 0;
  }
}
