---
import Layout from '../layouts/Layout.astro';

import Topbar from '../components/Topbar';
import Card from '../components/Card.tsx';

const title = 'Music Player';
---

<Layout title={title}>
  <main>
    <div role="grid" class="layout">
      <Topbar header={title} />
      <div class="main">
        <div class="sidebar">
          <ul>
            <li class="headers">
              <div class="title">Title</div>
              <div class="date">Date Added</div>
              <div class="length">Track Length</div>
            </li>
            <div class="divider"></div>
            <li>
              <Card
                icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                title="JavaScript"
                type="Song"
                date="Jan. 05, 2024"
                length="01:00"
              />
            </li>
            <li>
              <Card
                icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
                title="TypeScript"
                type="Song"
                date="Jan. 05, 2024"
                length="01:00"
              />
            </li>
          </ul>
        </div>
        <div class="resizer"></div>
        <div class="content"></div>
      </div>
      <div class="controls"></div>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;

    .layout {
      max-width: 100vw;
      max-height: 100vh;
      display: grid;
      gap: 5px;
      grid-template:
        'topbar' 40px
        'content' calc(100vh - 40px - 8dvh - 10px)
        'controls' 8dvh / 1fr;

      .main {
        display: flex;
        gap: 3px;
        margin: 10px;

        .sidebar,
        .content {
          display: flex;
          border-radius: 10px;
          background: #242133;
        }

        .sidebar {
          flex-direction: column;
          width: 27.5vw;
          min-width: 16dvw;
          max-width: 30dvw;

          ul {
            list-style: none;
            padding: 0;
            margin: 5px;
            gap: 5px;
            overflow-x: hidden;
            overflow-y: overlay;

            .divider {
              height: 1px;
              margin-top: 5px;
              background: #67679b;
              opacity: 0.5;
            }

            li {
              flex: 1;
              margin-top: 5px;
              &:first-child {
                margin-top: 0;
              }

              &[class='headers'] {
                display: flex;
                font-size: 1.1rem;
                font-weight: 600;
                padding: 0 20px;
                gap: 5px;

                div {
                  &[class='title'] {
                    min-width: 220px;
                  }
                  &[class='date'] {
                    min-width: 145px;
                  }
                }
              }
            }
          }
        }
        .resizer {
          background: #515497;
          border-radius: 20px;
          opacity: 0;
          margin: auto 0;
          width: 4px;
          height: 100%;
          cursor: col-resize;
          transition: opacity 0.2s ease;
          &:hover,
          &:active {
            opacity: 0.75;
          }
        }
        .content {
          flex: 1;
        }
      }
      .controls {
        grid-area: 'controls';
      }
    }
  }
</style>

<script src="../scripts/resize.ts"></script>
