---
import Layout from '../layouts/Layout.astro';

import App from './App';

const title = 'Music Player';
---

<Layout title={title}>
  <main>
    <App title={title} client:load />
  </main>
</Layout>

<style lang="scss">
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
