---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <div role="grid" class="layout">
      <div class="topbar"></div>
      <div class="main">
        <div class="sidebar"></div>
        <div class="resizer"></div>
        <div class="content"></div>
      </div>
      <div class="controls"></div>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;

    .layout {
      min-width: 100vw;
      min-height: 100vh;
      display: grid;
      gap: 5px;
      grid-template:
        'topbar' 40px
        'content' auto
        'controls' 10dvh / 1fr;

      .topbar {
        grid-area: 'topbar';
      }
      .main {
        display: flex;
        gap: 3px;
        margin: 10px;

        .sidebar,
        .content {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background: #242133;
        }

        .sidebar {
          width: 20vw;
          min-width: 10dvw;
          max-width: 40dvw;
        }
        .resizer {
          background: #515497;
          border-radius: 20px;
          opacity: 0;
          margin: auto 0;
          width: 4px;
          height: 100%;
          cursor: col-resize;
          transition: opacity 0.2s ease;
          &:hover,
          &:active {
            opacity: 0.75;
          }
        }
        .content {
          flex: 1;
        }
      }
      .controls {
        grid-area: 'controls';
      }
    }
  }
</style>

<script src="../scripts/resize.ts"></script>
