---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <div role="grid" class="layout">
      <div class="topbar"></div>
      <div class="main">
        <div class="sidebar"></div>
        <div class="resize"></div>
        <div class="content"></div>
      </div>
      <div class="controls"></div>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;

    .layout {
      min-width: 100vw;
      min-height: 100vh;
      display: grid;
      gap: 5px;
      grid-template:
        'topbar' 40px
        'content' auto
        'controls' 12dvh / 1fr;

      .topbar {
        grid-area: 'topbar';
      }
      .main {
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin: 10px;

        .sidebar {
          border-radius: 10px;
          background: #242133;
          overflow: auto;
          min-width: 25dvw;
          max-width: 50dvw;
        }
        .resize {
          border-radius: 20px;
          background: #515497;
          opacity: 0;
          width: 5px;
          cursor: col-resize;
          transition: opacity 0.1s ease;
          &:hover {
            opacity: 1;
          }
        }
        .content {
          border-radius: 10px;
          background: #242133;
          width: 100%;
        }
      }
      .controls {
        grid-area: 'controls';
      }
    }
  }
</style>
