---
import Layout from '../layouts/Layout.astro';

import App from '../components/App';
---

<Layout title="Prometheus — Fire Music!">
  <main>
    <App title="Prometheus" client:load />
  </main>
</Layout>

<style lang="scss">
  main {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
./_App
