.main {
  grid-area: content;
  display: flex;
  gap: 3px;
  margin: 0 2dvb;
  height: calc(100vh - 55px - 90px);
  color: white;

  .sidebar,
  .content {
    display: flex;
    border-radius: 10px;
    background: rgb(36, 33, 51);
  }

  .sidebar {
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    padding: 0 10px;

    .headers {
      list-style: none;
      padding-top: 10px;

      & > li {
        display: grid;
        grid-template-columns: 20px 220px 130px auto;
        align-items: center;
        background: transparent;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0 1rem;
        border-radius: 10px;
        gap: 1rem;
        text-align: start;
      }

      .divider {
        height: 1px;
        margin: 5px;
        background: #67679b;
        opacity: 0.5;
      }
    }

    .tracklist {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      gap: 5px;

      p {
        font-size: 18pt;
        padding-top: 1rem;
        justify-self: center;
        align-self: center;
        color: #ccc;
      }
    }
  }
  
  .resizer {
    background: linear-gradient(to left, transparent, #5b5d9c, transparent);
    opacity: 0;
    margin: auto 2px;
    width: 5px;
    height: 100%;
    border-width: 100px;
    cursor: col-resize;
    transition: opacity 0.2s ease;
    &:hover,
    &:active {
      opacity: 0.75;
    }
  }
  
  .content {
    position: relative;
    overflow: hidden;
    flex: 1;

    .container {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;

      .banner {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 10px;
        gap: 15px;
        overflow: hidden;

        img {
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 50%;
          object-fit: cover;
          pointer-events: all;
          -webkit-user-drag: none;
          opacity: 0.8;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover,
          &[data-playing='true'] {
            opacity: 1;
          }
        }

        .text {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          line-height: 1.25;
          gap: 2px;

          h2, h4 {
            background: rgba(0, 0, 0, 0.3);
            padding: 6px;
            line-height: 1;
          }

          h2 {
            font-size: 1.5rem;
          }

          h4 {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
    }

    .visualizer {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
